<ul class="nav nav-pills nav-justified">
    <li role="presentation" id="project"><a class="header_menu" href="#project"><%= i18next.t("app.project.header") %></a>
    </li>
    <li role="presentation"  id="environment"><a  class="header_menu" href="#environment"><%= i18next.t("app.environment") %></a>
    </li>
    <li role="presentation"  id="testcase"><a class="header_menu" href="#testcase"><%= i18next.t("app.testcase.name") %></a>
    </li>
    <li role="presentation"  id="testsuite"><a class="header_menu" href="#testsuite"><%= i18next.t("app.testsuite.testsuite") %></a>
    </li>
    <li role="presentation"  id="status"><a class="header_menu" href="#status"><%= i18next.t("app.status") %></a>
    </li>
    <li role="presentation"  id="settings"><a class="header_menu" href="#settings"><%= i18next.t("app.settings.settings") %></a>
    </li>
</ul>
