<div class="modal fade" id="showTestCase" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <a data-dismiss="modal" class="close">×</a>
            <div class="main-heading">
                <%= heading %>
            </div>
        </div>
        <div class="modal-body">
            <div id="testcase_metadata"> 
                <div class="row">
                    <select id="projectId" data-bind="value:projectId,options:projects,optionsDefault:{label: '<%= i18next.t("app.select_project") %>', value:'-1'}"></select>
                </div>
                <div class="row">
                    <input type="text" class="testcase-name form-control" placeholder="<%= i18next.t("app.testcase.name") %>" data-bind="value:name" maxlength="255" />
                </div>
                <div class="row">
                    <textarea class="testcase-description form-control" placeholder="<%= i18next.t("app.description") %>" data-bind="value:description" maxlength="255" />
                </div>
                            
                <!-- <div class="row">
                    <div class="col-md-2">
                        <%= i18next.t("app.testcase.needResource") %>
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" class="testcase-name form-control" data-bind="checked:isNeedResource"/>
                    </div>
                     
                </div> -->
            
                <div class="row">
                    <div class="col-md-2 debug-row">
                        <%= i18next.t("app.testcase.select_debug_environment") %>
                    </div>
                    <div class="col-md-3 debug-row">
                        <select class="form-control" id="environmentId" data-bind="value:environmentId,options:environments,optionsDefault:{label: '<%= i18next.t("app.select_environment") %>', value:'-1'}"></select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="custom_parameters" class="form-control" placeholder="<%= i18next.t("app.testcase.custom_parameters") %>" data-bind="value:custom_parameters"></input>
                    </div>
                    <div class="col-md-3 debug-row">
                        <button id="closeDebug" class="form-control btn btn-default btn-primary float-right">
                            <%= i18next.t("app.testcase.close_debug") %>
                        </button>
                    </div>
                    
                </div>
            </div>
            <div id="command_div">
                <div class="row">
                    <!--
                    <div style="display:none;">
                        <div id="testcase_new_command" class="col-md-3">
                            <select id="newCommandName" data-bind="value:new_command_name, options: commands, optionsDefault:{label: '<%= i18next.t("app.testcase.select_command") %>', value:'select_command'}"></select>
                        <!- <input type="text" class="testcase-name form-control" placeholder="<%= i18next.t("app.testcase.command_name") %>" data-bind="value:new_command_name" maxlength="255" /> -></div>
                        <div class="col-md-3">

                            <input type="text" class="testcase-element form-control" placeholder="<%= i18next.t("app.testcase.command_element") %>" data-bind="value:new_command_element" maxlength="255" />
                        </div>
                        <div id="newTestInclude" class="col-md-3">
                            <input type="text" id="newCommandText" class="testcase-value form-control" placeholder="<%= i18next.t("app.testcase.command_value") %>" data-bind="value:new_command_value" maxlength="255" />
                            <select id="newCommandValue" data-bind="value:new_command_select_value, optionsDefault:{label: '<%= i18next.t("app.testcase.select_testcase") %>', value:'select_testcase'}"></select>
                            <!- <input type="text" class="testcase-value form-control" placeholder="<%= i18next.t("app.testcase.command_value") %>" data-bind="value:new_command_value" maxlength="255" /> ->
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="testcase-param form-control" placeholder="<%= i18next.t("app.testcase.command_param") %>" data-bind="value:new_command_param" maxlength="255" />
                        </div>
                    </div>
                    -->
                    <div class="col-md-2">
                        <button type="button" id="add_command" class="btn btn-primary"><%= i18next.t("app.add_new_command") %></button>
                    </div>
                    <div class="col-md-1">
                        <span id="expand" class="up"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="command_container">
                    <div id="command_header">
                        <div class="row">
                            <div class="col-sm-1">
                            <%= i18next.t("app.run") %>
                            </div>
                            <div class="col-md-2">
                            <%= i18next.t("app.command") %>
                            </div>
                            <div class="col-md-3">
                            <%= i18next.t("app.element") %>
                            </div>
                            <div class="col-md-3">
                            <%= i18next.t("app.value") %>
                            </div>
                            <div class="col-md-3">
                            <%= i18next.t("app.params") %>
                            </div>
                            <div class="col-sm-1">
                            <%= i18next.t("app.delete") %>
                            </div>
                        </div>
                    </div>
                    <div id="command_list" data-bind="collection:commandCollection, itemView:'CommandItemView'">
                        
                    </div>
                </div>
                        <!-- <div class="backgrid-container" id="commands" />             -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="sys-message"></div>
            <div id="exception-message"></div>
            <div class="button-wrapper">
                <button id="saveTestCase" class="btn btn-default btn-primary float-right">
                    <%= i18next.t("app.testcase.save_testcase") %>
                </button>
            </div>
        </div>
    </div>
</div>
